# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Local environment variables
.env

# Generated test reports
reports/allure-report/
reports/allure-results/

# Runtime logs
logs/*.log

# Temporary files
*.tmp
*.temp
